/*
	# COLORS
	Red: #b2160d
	Cream: #F9F7E8
	Light Red: #F03F35
	Light Blue: #B7E3E4
	Grey: #7E7E7E;
	Light Grey: #E7E7E7;
*/

html, body {
	width: 100%;
	height: 100%;
	color: #777;
	position: relative;
}

.light {
	color: #fff;
	text-shadow: 0px .1em 2em rgba(0,0,0,0.2);
}

a, a:visited {
	text-decoration: none;
	transition: all .2s ease-in-out;
}

a:hover {
		color: #F03F35;
		letter-spacing: .05em;
		transition: all .2s ease-in-out;
	}

/*
.container .content a, footer a {
	color: #7E7E7E;
	position: relative;
}	

.container .content a:after, footer a:after {
	content: '';
	background: #7E7E7E;
	display: inline-block;
	position: absolute;
	width: 100%;
	height: .1em;
}

.container .content a:hover .container .content a:after, footer a:hover footer a:after {
	background: #F03F35;
	display: inline-block;
	position: absolute;
	width: 100%;
	height: 1.2em;
	top: 0;
}
*/

h2, h3, h4, h5, h6 {
	font-family: "Alegreya", "Georgia", "Times New Roman", serif;
	color: #7E7E7E;
}

h1, nav a, aside.tldr h3:before  {
	font-weight: 900;
}

.main .container h1 {
	margin-top: 20vh;
}

h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a,
h1 > a:visited, h2 > a:visited, h3 > a:visited, h4 > a:visited, h5 > a:visited, h6 > a:visited,
a > h1, a > h2, a > h3, a > h4, a > h5, a > h6,
a:visited > h1, a:visited > h2, a:visited > h3, a:visited > h4, a:visited > h5, a:visited > h6 {
	color: #F03F35;
}


hr {
	margin: 3em 0;
	height: 0px;
	border: 0;
	border-bottom: 1px solid #E7E7E7;
}

.sidebar, .main{
	position: relative;
	width: 100%;
	display: inline-block;
	-webkit-box-sizing: border-box;
		moz-box-sizing: border-box;
		 box-sizing: border-box;
	min-height: 100%;
}

.sidebar {
	left: 0px;
	background-color: #B7E3E4;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

	.sidebar a {
		color: white;
		display: inline-block;
				}

	.sidebar a:hover {
		transform: translateX(.1em);
		transition: all .3s ease-in-out;
	}

	.sidebar a:first-child:hover {
		transform: translateX(-.1em);
	}			

	.sidebar a.current {
					color: #F7F2CB;
				}

	.sidebar > .container {
		position: absolute;
		bottom: 3em;
		left: 5%;
	}
	@media (max-width: 700px) {
		.sidebar > .container {
			bottom: 0;
			left: 0;
		}
	}
	.article-links {
		font-weight: 900;
		font-size: 2em;
	}
	.article-links a:hover {
		text-decoration: none;
	}

@media (min-width: 1024px) {
	.sidebar, .main {
		position: absolute;
		top: 0px;
	}
	.sidebar {
		width: 40%;
		height: 100%;
		position: fixed;
	}
	.main {
		width: 60%;
		right: 0px;
	}
}

.sidebar-content {
	font-size: 120%;
	letter-spacing: -.4em;
}

.sidebar-content h1 {
	letter-spacing: 0;
	margin-bottom: .2em;
}

.sidebar-content h1 a {
	color: #fff;
}



@media screen and (min-width: 1920px) {
	.sidebar-content {
		font-size: 200%;
	}
}

section.content {
	max-width: 32em;
}

.slidey {
	display: none;
	background: #F5F6F6;
	width: 100%;
	position: fixed;
	max-height: 100%;
	overflow-y: auto;
	top: 0;
	left: 40%;
	z-index:999;
}

	@media (max-width: 1023px) {
		.slidey {
			left: 0;
		}
	} 

	@media (min-width: 1024px) {
		.slidey a.menu {
			display: none;
		}
	}

	.slidey .container {
		width: 100%;
		max-width: none;
	}

		@media (max-width: 700px) {
			.slidey .container {
				display: flex;
			}
			.slidey a {
			display: block;
			}
		}

	.slidey a {
		font-size: .75em;
		text-transform: uppercase;
	}
	.slidey li small {
		float: right;
		padding-top: .5em;
	}
	#search label {
		display: block;
		height: 0px;
		overflow: hidden;
		text-indent: 100%;
	}
	#search input:not([type="submit"]) {
		width: 100%;
		padding: .75em;
		font-size: .6rem;
		border-radius: 3px;
		border: 1px solid rgba(51,71,61,0.1);
	}
	#search button[type="submit"] {
		background: #F03F35;
	}
	#search button[type="submit"]:hover {
		background: #B7E3E4;
	}


#top {
	margin-bottom: 4em;
}

nav a {
	color: #7E7E7E;
}

nav.grid a {
	margin: 1em;
}

nav.menu-toggle {
	position: fixed;
	right: 0;
	top: 0;
	z-index: 999;
}

nav.menu-toggle a {
	font-family: "Work Sans", "Verdana", "Tahoma", sans-serif;
	text-transform: uppercase;
	margin: 2em;
	font-size: .75em;
	white-space: nowrap;
	display: inline-block;
	transition: all .3s ease-in-out;
}
	nav.menu-toggle a.menu.current {
		transform: rotateZ(45deg);
		color: #F03F35;
	}	

	nav.menu-toggle a.menu.current::after {
		display: block;
		content: '';
		position: absolute;
		background: #B2160D;
		background: linear-gradient(to right, #F03F35,#F03F35 33%,transparent 33%,transparent 67%,#F03F35 67%);
		height: .75em;
		width: 100%;
		top: .6em;
		transform: rotateZ(90deg);
		left: 0;
		z-index: -1;
	}
	@media (max-width: 1023px) {
		nav.menu-toggle a {
		color: #FFF;
		text-shadow: 0px 0.1em 4em rgba(0,0,0,0.4);
		margin: 2em;
		}
	}

aside.tldr h3 {
	font-style: italic;
	font-weight: 700;
	padding-left: 2.1em;
	position: relative;
}
	aside.tldr h3:before {
		content: 'TL;DR \2014';
		position: absolute;
		top: 0;
		left: 0;
		letter-spacing: 1px;
		font-size: .5em;
		color: #F03F35;
		white-space: nowrap;
	}

a.buttonlink, a[title="pdf"], a[title="file"], a[title="audio"], a[title="button"], button {
	background: #E7E7E7;
	padding: .25em 1.5em .3em;
	border-radius: .1em;
	font-family: "Work Sans", "Verdana", "Tahoma", sans-serif;
	font-size: .75em;
	color: #7E7E7E;
	margin: .75em 0;
	display: inline-block;
	border: 0;
	letter-spacing: 1px;
	font-weight: 900;
	text-transform: uppercase;
	-webkit-transition: background .15s ease-in-out;
		moz-transition: background .15s ease-in-out;
		-ms-transition: background .15s ease-in-out;
		 -o-transition: background .15s ease-in-out;
		 transition: background .15s ease-in-out;
}

a.readmore {
	background: #E7E7E7;
	border-radius: .2em;
	line-height: 1;
	margin-left: .15em;
	padding: 0 .5em .5em;
	vertical-align: top;
}

button {
	height: auto;
	padding: .75em 1.5em;
}
	a.buttonlink:hover, a[title="pdf"]:hover, a[title="file"]:hover, a[title="audio"]:hover, a[title="button"]:hover, button:hover, a.readmore:hover {
		background: #F03F35;
		color: white;
	}
	a[title="pdf"], a[title="file"], a[title="audio"], section.comments button {
		padding-left: 3em;
		position: relative;
	}
	a[title="pdf"]:before, a[title="file"]:before, a[title="audio"]:before, section.comments button:before {
		font-family: "icomoon";
		position: absolute;
		top: .3em;
		left: 1.25em;
	}
	a[title="pdf"]:hover:before, a[title="file"]:hover:before, a[title="audio"]:hover:before, section.comments button:hover:before {
		text-decoration: none;
	}
	a[title="pdf"]:before {
		content: 'P';
	}
	a[title="file"]:before {
		content: 'D';
	}
	a[title="audio"]:before {
		content: 'A';
	}
	section.comments button:before {
		content: 'E';
		top: .8em;
		left: 1.25em;
	}

.play-button {
	background-color: transparent;
	border: none;
	fill: #fff;
	height: 2em;
	margin: 0;
	padding: 0;
	vertical-align: text-top;
	width: 2em;
}

.play-button:focus {
	outline: none;
}

.play-button:hover {
	background-color: transparent;
	cursor: pointer;
}

footer#bottom {
	border-top: 1px solid #E7E7E7;
}

.flex {
	display: flex;
}

section.content ul:not(.custom) {
	list-style: none;
	padding:0;
	margin:0 0 1.5em;
}

section.content ul:not(.items):not(.commentlist):not(.custom) li {
	padding-left: 2em;
	text-indent: -.7em;
}

section.content ul:not(.items):not(.commentlist):not(.custom) li:before {
	content: "• ";
	color: #F03F35;
}

section.content ol {
	font-family: "Work Sans", "Skolar", "Georgia", "Times New Roman", serif;
	list-style: lower-roman outside;
	list-style-color: #F03F35;
	margin-left: 3em;
}

section.content ol li {
	color: #F03F35;
	font-size: .75em;
	font-weight: 700;
}

section.content ol li > p {
	color: #7E7E7E;
	font-size: 1rem;
	font-weight: 400;
	margin-bottom: 0;
}

section.content blockquote {
	font-family: "Alegreya", "Georgia", "Times New Roman", serif;
	font-size: 1.25em;
	font-style: italic;
	color: #7E7E7E;
	margin-left: 1em;
	padding-left: 1em;
	border-left: 5px solid #F03F35;
}

section.content .image-wrapper {
	margin-bottom: 1.5em;
	position: relative;
	width: auto;
	height: auto;
	display: inline-block;
	max-width: 100%;
}

section.content .image-wrapper img {
	max-width: 100%;
}

@media (min-width: 768px) {

	section.content .image-wrapper.left {
		float: left;
		margin: 0 1.5em 3em 0;
	}

	section.content .image-wrapper.right {
		float: right;
		margin: 0 0 3em 1.5em;
	}

}

@media (min-width: 768px) {
	section.content .image-wrapper.left,
	section.content .image-wrapper.right {
		max-width: 50%;
	}
}

section.content .image-wrapper.full,
section.content .image-wrapper.full img {
	width: 100%;
}

section.content .image-wrapper figcaption {
	text-align: center;
	width: 100%;
	height: auto;
	position: absolute;
	top: 100%;
	left: 0px;
	display: block;
	font-size: .75em;
	line-height: 1.5em;
	padding: 0 .75em .75em;
	box-sizing: border-box;
}

blockquote cite {
	font-family: "Work Sans", "Verdana", sans-serif;
	font-style: normal;
	font-size: .75em;
	color: #7E7E7E;
}

blockquote cite:before {
	content: "\2014 \0020";
}

pre {
	margin-bottom: 1.5em;
	white-space: pre-wrap;
	display: block;
	color: #F03F35;
	padding: .75em 1.5em;
	border-radius: 3px;
}
code {
	font-family: monospace;
	border-bottom: #E7E7E7;
	font-size: .75em;
}

label {
	font-size: .75em;
	font-weight: 700;
}

input,
textarea {
		width: 100%;
		max-width: 18em;
		padding: .75em;
		font-size: .75em;
		border-radius: 3px;
		border: 1px solid #E7E7E7;
		display: block;
}
textarea {
	min-height: 9em;
}

button[type="submit"] {
	font-weight: 400;
}

ul.commentlist {
	border-top: 1px solid #E7E7E7;
}

ul.commentlist li {
	padding: 1.5em 0;
	border-bottom: 1px solid #E7E7E7;
}

.icon, a.icon, nav a.icon, .sidebar nav a.icon {
	font-family: 'icomoon';
	font-weight: 400;
	font-size: 1.5em;
	margin: 0;
}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.remove-bottom {
	margin-bottom: 0;
}

/*full width*/
.full-width {
	margin-top: 100vh;
	display: inline-block;
	position: relative;
	width: 100vw;
	background: #fff;
	min-height: 100vh;
}

.full-width.container {
	max-width: none;
	padding: 10vmax 0;
	text-align: center;
}

.full-width p {
	margin: 10vmax 0 12vmax;
}

section.content {
	max-width: none;
}

.lower {
	display: block;
	top: inherit;
}

@media (max-width: 1024px) {
	.full-width {
		margin-top: 0;
	}

	.full-width.container {
		padding: 0;
	}

	.main {
		min-height: 50vmin;
	}
}

/* Offsetting Gallery */

article.gallery p:nth-child(4n+1) {
	text-align: right;
	margin-right: 4em;
}

article.gallery p:nth-child(5n+3) {
	text-align: left;
	margin-left: calc(10% + 2em);
}

article.gallery p:nth-child(6n) {
	text-align: left;
	margin-left: 2em;
}

@media screen and (max-width: 700px) {
	article.gallery p:nth-child(n+0) {
		text-align: center;
		margin-left:0;
		margin-right: 0;
	}
}

/* post gallery */

.latest-article-preview {
	perspective: 50vw;
}

.article.instax {
	padding: 2em 1em .5em;
	text-align: center;
	box-shadow: 0 0.4em 2em -0.5em rgba(0,0,0,0.2);
	transform: translateY(0) rotateX(0deg) rotateZ(0deg);
	transition: all .3s ease-in-out;

}

.article.instax:hover {
	box-shadow: 0 .2em 3em -.2em rgba(0,0,0,0.1);
	transform: translateY(-.1em) rotateX(-1deg) rotateZ(-.25deg);
	transition: all .3s ease-in-out;
}

a .article.instax h1 {
	color: #F03F35;
	font-size: 140%;
	margin: 0;
}

a .article.instax h3 {
	font-family: "Work Sans", "Verdana", "Tahoma", sans-serif;
	font-size: 100%;
	font-weight: 900;
}

.article.instax figure.image-wrapper {
	margin-bottom: 0;
}

.article.instax img {
	height: 50vmin;
	object-fit: cover;
	width: 100%;
}

a .article.instax footer {
	color: #7E7E7E;
}

a:visited .article.instax {
	opacity: .7;
}

li.grid .article.instax img {
    height: 40vmin;
}

.override li.grid-fit  {
	margin: -.1em;
	padding: 1em;
}

.instaxes li:nth-child(3n+2) {
	transform: rotateZ(1deg);
}

.instaxes li:nth-child(5n+4) {
	transform: rotateZ(-.5deg);
}

.instaxes li:nth-child(7n) {
	transform: rotateZ(.5deg);
}

/* homepage bubbles */

figure.image-wrapper.bubble img {
	border-radius: 50%;
	transition: all .3s cubic-bezier(.48,0,.48,1);
	width: 100%;
}

.bubble {
	position: relative;
}

figure.image-wrapper.bubble {
	margin: 5em 0 7em;
	width: 32%;
}


.shift-three {
	transform: translateY(-20%);
}

.shift-two {
	transform: translateY(40%) translateX(5%);
}

.bubble figcaption {
	font-size: 4vmin;
	position: absolute;
	bottom: 40%;
	right: 0px;
	display: inline;
	font-size: 4vmin;
}

.image-wrapper.bubble.grid figcaption {
	text-align: right;
	color: #7E7E7E;
	top: -2em;
	right: -25%;
	left: initial;
	background: #F9F7E8;
	display: inline;
	font-weight: 700;
	font-size: calc(.5em + 3vmin);
	box-shadow: .2em .1em #F9F7E8, -.2em 0 #F9F7E8;
	position: relative;
	padding: 0;
	transition: all .3s ease-in-out;

}

figure.image-wrapper.bubble.grid.remove-padding:hover img {
	transform: scale(1.2);
	transition: all .3s cubic-bezier(.48,0,.48,1);
}

figure.image-wrapper.bubble.grid.remove-padding:hover figcaption {
	top: -1.5em;
	transition: all .3s ease-in-out;
}

@media screen and (max-width: 700px) {

	figure.image-wrapper.bubble {
		margin: 1em 0 .5em;
		width: 80%;

	}

	.image-wrapper.bubble.grid figcaption {
	top: -3em;
	right: -15%;
	font-size: 4vmax;
	padding: 0;
	}
	
	.shift-three {
		transform: translateX(-20%);
	}

	.shift-two {
		transform: translateY(0%) translateX(25%);
	}

}

/* IE Overrides */
	.ie .sidebar, .ie .main {
		position: absolute;
		top: 0px;
	}
	.ie .sidebar {
		width: 40%;
		height: 100%;
		position: fixed;
	}
	.ie .main {
		width: 60%;
		right: 0px;
	}
	.ie .slidey a.menu {
		display: none;
	}
	.ie a:hover {
		color: #B7E3E4;
	}
}